.form-main{
    padding-top: 40px;
    /* text-align: center; */
}

.form-text{
    /* font-size: 50px; */
    font-style: italic;
    text-align: center;
    padding-top: 10px;

}
.form-feild{
    padding: 10px;
}

.form-button{
    width: 100px;
    height: 40px;
    /* color: rgb(39, 156, 224); */
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2185d0;
    border: 0px;
    border-radius: 5px;

}
.ui form{
    text-align: center;
}