.navbar{
    text-align: center;
    background-position: fixed;
    width: 100%;
    background-color: rgb(248, 218, 179);
}


.navlinks{
    /* float: left; */
    width: 100%;
    background-color: rgb(133, 108, 75);
}

.navmenu{
    background-color: rgb(243, 194, 129);
    /* font-size: 16px; */
    float: left;
    font-weight: bold;
    /* margin-right: 10px; */
    padding: 2px;
    border-right: 3px solid rgb(248, 218, 179);
    border-radius: 10%;
    /* border : 3px solid rgb(248, 218, 179); */
    /* border-right: 10px solid rgb(248, 218, 179); */
    /* width: 10%; */
}